.picture-top {
    border-radius: 32px 32px 0 0;
}

.picture-bottom {
    border-radius: 0 0 32px 32px;
}

.picture {
    border-radius: 12px;
}

.game--text {
    color: var(--text-hover-1);
}

.download--list
{
    margin: 0;
    padding: 0;
}

.download--list-li
{
    border-left: .125rem var(--text-hover) solid;
    list-style-type: none;
    margin: 0;

    padding: 1px 0;

    transition: .3s;
}

.download--list-item
{
    color: var(--text-color);
    text-decoration: none;

    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    transition: .3s;
}

.download--list-li:hover
{
    border-left: .5rem var(--text-hover) solid;
    color: var(--text-hover);
    padding-left: 30px;
}

.download--active
{
    padding-top: .5rem;
    padding-bottom: .5rem;

    background-color: var(--game-active);
    border-top-right-radius: 12px;
    border-end-end-radius: 12px;
}
