.footer--main
{
    margin-top: 70px;
    margin-bottom: 25px;
}

.footer--text-copyright
{
    font-size: 20px;
    color: var(--text-mute);
}

.footer--text-head
{
    font-size: 30px;
}

.footer--text-link
{
    color: var(--text-hover);
    text-decoration: none;
    padding: 0;
    margin: 0;

    font-size: 15px;

    transition: .3s;
}

.footer--text-link:hover
{
    color: var(--text-hover-2);
}
